.content
	display: flex
	flex-wrap: wrap
	+r(680)
		justify-content: center
	&-btn
		margin-top: 25px



.posts
	display: flex
	flex-wrap: wrap

	&-content
		width: 66.6%
		+r(1007)
			justify-content: flex-end
			width: 50%
		+r(680)
			justify-content: center
			width: 50%
	.post
		padding: 24px 30px
		+r(1007)
			border-right: 1px solid $color-border
		+r(930)
			padding: 12px 15px

		&-content
			width: 50%
			min-width: 315px
			border-right: 1px solid $color-border
			+r(1007)
				border-top: 1px solid $color-border
				border-left: 1px solid $color-border
		&__works
			margin-top: 30px

.rubric
	display: flex	
	align-items: center
	justify-content: space-between
	.icon
		font-size: 30px
.h2
	font-size: 20px
	font-weight: 400
	text-transform: uppercase
	&__description
		font-size: 13px
		font-weight: 100

.h3
	font-size: 17px
	font-weight: 400
	margin-bottom: 7px
	margin-top: 30px
	&-link
		color: $color-link
		&:hover
			color: $color-link-hover
	&__description
		font-size: 12px
		font-weight: 300
		color: $color-text


/* sidebar */
.sidebar
	width: 33.4%
	min-width: 315px
	+r(680)
		width: 50%
		border-left: 1px solid $color-border
.rubric-dark
	background: #606866
	padding-top: 20px
	padding-bottom: 20px
	.wrapp
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		padding-left: 29px
		padding-right: 20px
		+r(1110)
			.rubric__title
				flex-grow: 1
				padding-left: 10px			
		.icon
			font-size: 30px
		.title-light
			// padding-left: 17px
			// padding-right: 40px
			color: $color-white
		.btn-dark
			font-size: 12px
			font-weight: 100
			color: $color-white
			background-color: transparent
			+r(1110)
				margin: 0 auto
				margin-top: 10px

/* slider */
.slider
	background: $color-bg	
	.slides
		padding: 24px 20px 24px 26px
		&__title
			flex-grow: 1
			padding-left: 14px
			.h2-size
				font-size: 18px
				text-transform: none
		&__text
			margin-top: 30px
			font-size: 16px
			font-weight: 400
			margin-bottom: 40px
		&__date
			.icon
				font-size: 20px
			.date
				font-size: 13px
				padding-left: 7px		

.slick-arrow
	width: 30px
	height: 30px
	border-radius: 50%
.slick-next
	position: absolute
	right: 20px
	bottom: 20px
	&:after
		content: url(../img/right-arrow.svg)
		position: absolute
		bottom: 50%
		left: 50%
		transform: translate(-50%, 60%)

.slick-prev
	position: absolute
	right: 58px
	bottom: 20px
	z-index: 1
	&:after
		content: url(../img/left-arrow.svg)
		position: absolute
		bottom: 50%
		left: 50%
		transform: translate(-50%, 60%)


.icon-text
	// .icon
	// 	display: inline-block
	// 	vertical-align: middle
	// .text
	// 	display: inline-block
	// 	vertical-align: middle
	display: flex
	align-items: center
	.text
		padding-left: 10px



.h3-indent
	margin-top: 15px

.tags
	display: flex
	margin-top: 35px
	.tag
		border: 1px solid $color-border
		margin-right: 20px
		padding: 14px 24px 17px 17px
		cursor: pointer
		+r(994)
			padding: 14px 20px 17px 15px

		&__title
			font-size: 17px
			font-weight: 400
			margin-bottom: 33px
			color: $color-text



