.navigation
	+r-thin
	font-size: 12px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	border: 1px solid $color-btn
	+r(946)
		display: none
.nav
	display: flex
	align-items: center
	&__list
		&-link
			padding: 15px 40px 15px 25px
			color: #2e3236
			text-transform: uppercase
			transition: 0.4s
			display: flex
			align-items: center
			.icon
				margin-right: 9px
				font-size: 14px
			&:hover
				background: $color-bg-nav
				color: $color-white
				.icon
					fill: $color-btn
.bg-job
	display: flex
	padding-right: 18px
	p
		text-transform: uppercase
		.icon
			margin-right: 9px
.count
	font-size: 10px
	font-weight: 500
	width: 16px
	height: 16px
	background: $color-red
	border-radius: 50%
	text-align: center
	line-height: 16px
	color: $color-white
	margin-left: 15px