.top-panel
	display: flex
	justify-content: space-between
	padding: 10px
	// margin-top: 20px
	background: linear-gradient(0deg, darken(#edeff1, 20%) 0%, #ffffff 100%)
	border-radius: 5px 5px 0 0
	.col
		font-size: 13px
		.icon
			font-size: 16px