---
title: SuperCompany

---
{% extends "layouts/_layout.html" %}

{% block header %}
	{% import "data/data.html" as header %}
	{% include "partials/_top-panel.html" %}
	{% include "partials/_header.html" %}
	{% include "partials/_navigation.html" %}
{% endblock %}



{% block content %}
	{% import "data/data.html" as content %}
	{% include "partials/_content.html" %}
		
{% endblock %}

{% block footer %}
	{% import "data/data.html" as footer %}
	{% include "partials/_footer.html" %}
{% endblock %}
