<div class="content">
	<div class="collect">
		<div class="rubric">
			<div class="rubric__title">
				<h2 class="h2">Collections</h2>
				<p class="h2__description">Top level collections</p>
			</div>
			<div class="rubric__img">
				{{mixins.icon('layers')}}
			</div>	
		</div>
		<h3 class="h3"><a href="#" class="h3-link">External Materials</a></h3>
		<p class="h3__description">Content for collaboration with external partixipants</p>
		<h3 class="h3"><a href="#" class="h3-link">External Materials</a></h3>
		<p class="h3__description">Content for collaboration with external partixipants</p>
		<h3 class="h3"><a href="#" class="h3-link">External Materials</a></h3>
		<p class="h3__description">Content for collaboration with external partixipants Content for collaboration with external partixipants</p>
		<button class="btn content__btn">See more</button>
	</div><!-- end collect -->

	<div class="links">
		<div class="rubric">
			<div class="rubric__title">
				<h2 class="h2">Other links</h2>
				<p class="h2__description">Top level collections</p>
			</div>
			<div class="rubric__img">
				{{mixins.icon('link')}}
			</div>	
		</div>
		<h3 class="h3"><a href="#" class="h3-link">External Materials</a></h3>
		<p class="h3__description">Content for collaboration with external partixipants</p>
		<h3 class="h3"><a href="#" class="h3-link">External Materials</a></h3>
		<p class="h3__description">Content for collaboration with external partixipants</p>
		<h3 class="h3"><a href="#" class="h3-link">External Materials</a></h3>
		<p class="h3__description">Content for collaboration with external partixipants Content for collaboration with external partixipants</p>
		<button class="btn content__btn">See more</button>
	</div><!-- end links -->

	<div class="sidebar">

		<div class="start">

			<div class="rubric-dark">
				<div class="wrapp">
				
					<div class="rubric__img">
						{{mixins.icon('paper-plane')}}
					</div>	
					<div class="rubric__title title-light">
						<h2 class="h2">getting started</h2>
						<p class="h2__description">Top level collections</p>
					</div>
					<button class="btn btn-dark">Take a Tutorial</button>
				</div>
			</div>

			<div class="slider js-carousel">
				<div class="slides">
					<div class="slides__header rubric">
						<div class="slides__img"><img src="img/photo-1.png" alt="photo"></div>
						<div class="slides__title">
							<h2 class="h2 h2-size">BritishMonarchy</h2>
							<p class="h2__description"><a href="#">@BritishMonarchy</a></p>
						</div>
						<div class="slides__icon">{{mixins.icon('speech')}}</div>
					</div>
					<div class="slides__text">
						<p>It is a pleasure to open the information <br>Age exhibitions today at the <br> @ScienceMuseum and I hope people will enjoy visiting.</p>
					</div>
					<div class="slides__date icon-text">
						{{mixins.icon('tw')}}
						<p class="date text">1.35 PM - 24 Oct 2014</p>
					</div>
				</div>

				<div class="slides">
					<div class="slides__header rubric">
						<div class="slides__img"><img src="img/photo-1.png" alt="photo"></div>
						<div class="slides__title">
							<h2 class="h2 h2-size">BritishMonarchy</h2>
							<p class="h2__description"><a href="#">@BritishMonarchy</a></p>
						</div>
						<div class="slides__icon">{{mixins.icon('speech')}}</div>
					</div>
					<div class="slides__text">
						<p>It is a pleasure to open the information <br>Age exhibitions today at the <br> @ScienceMuseum and I hope people will enjoy visiting.</p>
					</div>
					<div class="slides__date icon-text">
						{{mixins.icon('tw')}}
						<p class="date text">1.35 PM - 24 Oct 2014</p>
					</div>
				</div>
		</div><!-- end start -->


		<div class="communities">
			<div class="rubric">
				<div class="rubric__title">
					<h2 class="h2">Communities</h2>
					<p class="h2__description">Explore our comunity areas</p>
				</div>
				<div class="rubric__img">
					{{mixins.icon('share')}}
				</div>	
			</div>
			<div class="communities__works icon-text">
				{{mixins.icon('file')}}
				<p class="text">Workspaces</p>
			</div>
			<h3 class="h3 h3-indent"><a href="#" class="h3-link">Duracell Inc</a></h3>
			<p class="h3__description">PM, Eng & SQA document share and test file locations  for Cogniance engagement</p>

			<div class="tags">
				<div class="tag">
					<h4 class="tag__title">Wiki</h4>
					<button class="btn">See More</button>
				</div>
				<div class="tag">
					<h4 class="tag__title">Weblogs</h4>
					<button class="btn">See More</button>
				</div>
			</div>
		</div><!-- communities -->

	</div><!-- end sidebar -->

</div><!-- end content -->