<div class="footer">
	<div class="footer__navig">
		<div class="block">
			<ul class="navig">
				<li><a href="#">Users and Groups</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</div>
		<div class="block">
			<ul class="navig">
				<li><a href="#">About DocuShare</a></li>
				<li><a href="#">Statistics</a></li>
			</ul>
		</div>
		<div class="block">
			<ul class="navig">
				<li><a href="#">Mobile Client Settings</a></li>
				<li><a href="#">Cookies</a></li>
			</ul>
		</div>
	</div>
	<div class="copy">
		<p>&copy;1996-2015 SupercompanyCorporation.<br> All Rights Reserved</p>
	</div>
</div>