<div class="header">

	<div class="logo">
		<h1><a href="#" class="logo-link">SuperCompany</a></h1>
	</div>

	<div class="search">
		<div class="search__container">
			<input type="search" class="search__input" placeholder="Search">
			<button class="search__btn">{{mixins.icon('search')}}</button>
		</div>
		<div class="search__settings">
			{{mixins.icon('gear')}}
			<a href="#">Advanced</a>
		</div>
	</div>


	<div class="user">
		<div class="user__home">{{mixins.icon('home')}}</div>
		<a href="#" class="user__name">emma.davidson@caterptillar.com</a>
		<button class="btn user__btn">Log out</button>
	</div>
</div>