<div class="navigation">

	<ul class="nav">
		<li class="nav__list"><a class="nav__list-link" href="#">Home</a></li>
		<li class="nav__list"><a class="nav__list-link" href="#">{{mixins.icon('home')}}My docushare</a></li>
		<li class="nav__list"><a class="nav__list-link" href="#">{{mixins.icon('tasks')}}My tasks</a></li>
		<li class="nav__list"><a class="nav__list-link" href="#">{{mixins.icon('favorites')}}My favorite</a></li>
		<li class="nav__list"><a class="nav__list-link" href="#">{{mixins.icon('recent')}}Recent</a></li>
	</ul>

	<div class="bg-job">
		<p>{{mixins.icon('bg-jobs')}}Background jobs</p>
		<div class="count">8</div>
	</div>
</div>

<div class="mobile-navigation">

	<span class="btn-menu js-iconMenu">
			Menu
		</span>

	<nav class="no-active js-toggleEffect">
		<ul class="mobile-nav">
			<li class="mobile-nav__list"><a class="mobile-nav__list-link" href="#">Home</a></li>
			<li class="mobile-nav__list"><a class="mobile-nav__list-link" href="#">{{mixins.icon('home')}}My docushare</a></li>
			<li class="mobile-nav__list"><a class="mobile-nav__list-link" href="#">{{mixins.icon('tasks')}}My tasks</a></li>
			<li class="mobile-nav__list"><a class="mobile-nav__list-link" href="#">{{mixins.icon('favorites')}}My favorite</a></li>
			<li class="mobile-nav__list"><a class="mobile-nav__list-link" href="#">{{mixins.icon('recent')}}Recent</a></li>
		</ul>
		
		<div class="bg-job mobile-bg-job">
			<p>{{mixins.icon('bg-jobs')}}Background jobs</p>
			<div class="count">8</div>
		</div>
	</nav>
</div>