<div class="navigation">

	<ul class="nav">
		{% for item in header.navigation %}
		<li class="nav__item"><a class="nav__link" href="#">

			{% if item.nav_mixin %}
				{{mixins.icon(item.nav_mixin)}}
			{% endif %}

		{{item.nav_link}}</a></li>
		{% endfor %}
	</ul>

	<div class="bg-job">
		<p>{{mixins.icon('bg-jobs')}}Background jobs</p>
		<div class="count">8</div>
	</div>
</div>



<!-- for mobile -->
<div class="mobile-navigation">
	<span class="btn-menu js-iconMenu">Menu</span>

	<nav class="mobile-nav js-toggleEffect">
		<ul class="mobile-nav__list">
			{% for item in header.navigation %}
			<li class="mobile-nav__item"><a class="mobile-nav__link" href="#">

				{% if item.nav_mixin %}
					{{mixins.icon(item.nav_mixin)}}
				{% endif %}

				{{item.nav_link}}
			</a></li>
			{% endfor %}
		</ul>
		
		<div class="bg-job mobile-bg-job">
			<p>{{mixins.icon('bg-jobs')}}Background jobs</p>
			<div class="count">8</div>
		</div>
	</nav>
</div>