<!-- begin sidebar -->
<div class="sidebar">
	<!-- begin start -->
	<div class="start">
		<div class="start__img">
			{{mixins.icon('paper-plane')}}
		</div>
		<div class="start__title block-title block-title--light">
			<h2 class="h2 start__header">getting started</h2>
			<p>Top level collections</p>
		</div>
		<button class="btn start__btn">Take a Tutorial</button>
	</div>
	<!-- end start -->

	<!-- begin feedback -->
	<div class="feedback">
		<!-- begin slider -->
		<div class="slider js-carousel">
			{% for slide in content.slides %}
			<div class="slide">
				<div class="slide__header">
					<div class="slide__img"><img src="img/{{slide.img}}" alt="photo"></div>
					<div class="slide__title">
						<h2 class="h2 h2--small">{{slide.title}}</h2>
						<p>{{slide.description}}</p>
					</div>
					<div class="slide__icon">{{mixins.icon(slide.icon_title)}}</div>
				</div>
				<div class="slide__text">
					<p>{{slide.text}}</p>
				</div>
				<div class="slide__date">
					{{mixins.icon(slide.icon_social)}}
					<p>{{slide.date}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- end slider -->
	</div>
	<!-- end feedback -->

	<!-- begin post -->
	<div class="post">
		<div class="rubric">
			<div class="rubric__title block-title">
				<h2 class="h2 rubric__header">Communities</h2>
				<p>Explore our comunity areas</p>
			</div>
			<div class="rubric__img">
				{{mixins.icon('share')}}
			</div>	
		</div>
		<div class="post__works">
			{{mixins.icon('file')}}
			<p>Workspaces</p>
		</div>
		<div class="info">
			<h3 class="h3 info__header"><a href="#" class="h3__link">Duracell Inc</a></h3>
			<p>PM, Eng & SQA document share and test file locations  for Cogniance engagement</p>
		</div>
	
		<div class="tags">
			<div class="tag">
				<h4 class="tag__title">Wiki</h4>
				<button class="btn">See More</button>
			</div>
			<div class="tag">
				<h4 class="tag__title">Weblogs</h4>
				<button class="btn">See More</button>
			</div>
		</div>
	</div>
	<!-- end post -->

</div>
<!-- end sidebar