.icon-bg-jobs {
  width: 1em;
  height: 1em;
  fill: #53595D;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-favorites {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-file {
  width: 1.22em;
  height: 1em;
  fill: #959DA3;
}
.icon-gear {
  width: 1em;
  height: 1em;
  fill: #53595D;
}
.icon-home {
  width: 1.14em;
  height: 1em;
  fill: #53595D;
}
.icon-layers {
  width: 1.03em;
  height: 1em;
  fill: #99A1A7;
}
.icon-left-arrow {
  width: 0.5em;
  height: 1em;
  fill: #5F676F;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: #959DA3;
}
.icon-paper-plane {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-recent {
  width: 1.07em;
  height: 1em;
  fill: #53595D;
}
.icon-resize {
  width: 1em;
  height: 1em;
  fill: #B3B3B3;
}
.icon-right-arrow {
  width: 0.5em;
  height: 1em;
  fill: #5F676F;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #53595D;
}
.icon-share {
  width: 1em;
  height: 1em;
  fill: #959DA3;
}
.icon-speech {
  width: 1.14em;
  height: 1em;
  fill: #959DA3;
}
.icon-tasks {
  width: 1.14em;
  height: 1em;
  fill: #373D41;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #959DA3;
}
